@import url('https://fonts.googleapis.com/css2?family=Delius&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.menu{
    z-index: 1001;
    color: #0f0e0e;
}
.menu a{
    text-decoration: none;
    color: #aaaaaa;
    font-size: 1.2em;
    margin: 0 14px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

section{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #0b0b0b;
    transition: 0.5;
}


header .logo {
    color: #0f0f0f;
    text-transform: uppercase;
    cursor: pointer;
}

section video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
    height: 100%;
    object-fit: cover; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(21, 21, 21), rgb(186, 184, 184));
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
    margin-top: 40px;
}

.text h2 {
    font-size: 3em;
    font-weight: 500;
    line-height: 3em;
    color: #0e0e0e;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 300;
    color: #a3c3d2;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    position: relative;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    color: #ffffff;
}

text a {
    display: inline-block;
    font-size: 1.9em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #eeeeee;
    background-color: #8d3d3d;
}

.sci {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.7);
}

.toggle {

    position: relative;
    width: 60px;
    height: 60px;
    background: url('/images/IMG-20251204-WA0009.jpg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

@media (max-width: 700px) {
    section {
        padding: 40px;
    }
    .text h2 {
        font-size: 3em;
    }
    .text h3 {
        font-size: 2em;
    }
}

.main-btn{
    color: #fff;
    background-color: hsla(0, 1%, 14%, 0.548);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 1.7s ease;
}
.main-btn:hover{
    background-color: rgba(93, 104, 113, 0.455);
    transform: scale(1.1);

}
